{% extends 'frontend/common/base.html.twig' %}

{% block title %}Contact Form{% endblock %}

{% block body %}
    {% embed "common/common/partials/_jumbotron.html.twig" %}
        {% block subtitle %}
            <h2>You are here: Terms and conditions</h2>
        {% endblock subtitle %}
    {% endembed %}

    <div class="legal cookies mt-4">
        <div class="container legal-cookies">
            <div class="row">
                <div class="col-xs-12">
                    <p>@TODO: Terms and conditions Text comes here</p>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
